/*

    color palette:
    lighter green: 606c38
    dark green: 283618
    light tan: fefae0
    medium tan: dda15e
    dark tan: bc6c25

*/
body {
    font-family: monaco;
    background: #153243;
}

.container-fluid {
    max-width: 1100px;
    margin: auto;
}

.site-header {
    background: #153243;
    color: #fff;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-header a {
    color: #dda15e;
    text-decoration: none;
}

.main-content {
    background: #fefae0;
    padding: 50px;
    min-height: 70%;
}

.list-no-dec {
    padding-left: 0;
    border: solid 3px #dda15e;
    border-radius: 15px;
}

.list-no-dec li {
    list-style: none;
    margin-bottom: 30px;
    background: #dda15e;
    padding: 20px;
    padding-bottom: 10px;
}

.list-no-dec li:first-child {
    border-radius: 10px 10px 0 0;
}

.list-no-dec li:last-child {
    margin-bottom: 0;
    border-radius: 0 0 10px 10px;
}

p strong {
    text-decoration: underline;
}


/* thumbnails */
.assignment-sidebar {
    padding: 0;
    list-style: none;
}

.assignment-sidebar li {
    padding: 20px;
    border: solid 1px #153243;
    border-radius: 15px;
}

.assignment-thumbnail {
    height: 200px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.assignment-thumbnail.thumbnail-1 {
    background: url('assignment_1/wideshot.png');
    background-position: center;
    background-size: cover;
}



/* nav */
nav {
    background: #000;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

nav ul li {
    border: solid 1px #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 0 20px;
}

nav ul li a:hover {
    color: #dda15e;
    transition: .3s;
}

/* footer */

footer {
    background: #153243;
    color: #fff;
    padding-top: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}


/* assignment documentation sections */
section {
    margin-top: 120px;
}

section h5 {
    margin-top: 30px;
    text-decoration: underline;
}

.section-img {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
}

.section-img.first-rhino {
    background: url('/assignment_1/wideshot.png');
    background-size: cover;
    background-position: center;
}