/*

    color palette:
    lighter green: 606c38
    dark green: 283618
    light tan: fefae0
    medium tan: dda15e
    dark tan: bc6c25

*/
body {
    font-family: monaco;
    background: #153243;
}

.container-fluid {
    max-width: 1100px;
    margin: auto;
}

.site-header {
    background: #153243;
    color: #fff;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-header a {
    color: #dda15e;
    text-decoration: none;
}

.main-content {
    background: #fefae0;
    padding: 50px;
    min-height: 70%;
}

.list-no-dec {
    padding-left: 0;
    border: solid 3px #dda15e;
    border-radius: 15px;
}

.list-no-dec li {
    list-style: none;
    margin-bottom: 30px;
    background: #dda15e;
    padding: 20px;
    padding-bottom: 10px;
}

.list-no-dec li:first-child {
    border-radius: 10px 10px 0 0;
}

.list-no-dec li:last-child {
    margin-bottom: 0;
    border-radius: 0 0 10px 10px;
}

p strong {
    text-decoration: underline;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

/* thumbnails */
.assignment-sidebar {
    padding: 0;
    list-style: none;
}

.assignment-sidebar li {
    padding: 20px;
    border: solid 1px #153243;
    border-radius: 15px;
    margin-bottom: 20px;
}

.assignment-thumbnail {
    height: 200px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.assignment-thumbnail.thumbnail-1 {
    background: url('assignment_1/media/pieces.png');
    background-position: center;
    background-size: cover;
}

.assignment-thumbnail.thumbnail-2 {
    background: url('assignment_2/media/grasshopper-screenshot.png');
    background-position: center;
    background-size: stretch;
}

.assignment-thumbnail.thumbnail-3 {
    background: url('assignment_3/media/collection-prints.png');
    background-position: center;
    background-size: cover;
}

/* nav */
nav {
    background: #000;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

nav ul li {
    border: solid 1px #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 0 20px;
}

nav ul li a:hover {
    color: #dda15e;
    transition: .3s;
}

/* footer */

footer {
    background: #153243;
    color: #fff;
    padding-top: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

/* assignment documentation sections */
.project-goals {
    text-align: center;
    margin-top: 50px;
    border: solid 2px #153243;
    background: #c0c0c02e;
}

.project-goals h1 {
    padding: 20px;
    background: #283618;
    color: white;
}

.project-goals ol {
    margin-top: 20px;
    display: inline-block;
}

.project-goals ol li {
    /* display: inline-block; */
    margin-bottom: 15px;
}

.doc-content {
    margin-top: 50px;
}

section {
    margin-bottom: 120px;
}

section h5 {
    margin-top: 30px;
    text-decoration: underline;
}


/* photo gallery */
.photo-gallery {
    height: 400px;
    display: block;
    margin-bottom: 15px;
    position: relative;
}

.vert-photo-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.photo-full {
    height: 100%;
    background: orange;
}

.photo-half, .photo-trio {
    height: 400px;
    width: 100%;
    margin: 30px auto;
}

/* assignment 1 media */

.rhino-1 {
    background: url('./assignment_1/media/rhino-zoomed.png');
    background-size: cover;
    background-position: center;
}

.pieces-1 {
    background: url('./assignment_1/media/pieces.png');
    background-size: cover;
    background-position: center;
}

.assembled-1 {
    background: url('./assignment_1/media/assembled.png');
    background-size: cover;
    background-position: center;
}

/* assignment 2 media */

.rhino-2 {
    background: url('./assignment_2/media/rhino-screenshot.png');
    background-size: cover;
    background-position: center;
}

.grasshopper-2 {
    background: url('./assignment_2/media/grasshopper-screenshot.png');
    background-size: cover;
    background-position: center;
}

.illustrator-2 {
    background: url('./assignment_2/media/hex-illustrator-screenshot.png');
    background-size: cover;
    background-position: center;
}


.pieces-2 {
    background: url('./assignment_2/media/pieces.png');
    background-size: cover;
    background-position: center;
}

.hex-mosaic-2 {
    background: url('./assignment_2/media/hex-mosaic.png');
    background-size: cover;
    background-position: center;
}

.circle-arch-2 {
    background: url('./assignment_2/media/circle_house.png');
    background-size: cover;
    background-position: center;
}

/* assignment 3 media */

.printer-3 {
    background: url('./assignment_3/media/printer-kitchen.png');
    background-size: cover;
    background-position: center;
}

.collection-prints-3 {
    background: url('./assignment_3/media/collection-prints.png');
    background-size: cover;
    background-position: center;
}

.book-holder-3 {
    background: url('./assignment_3/media/book-holder.png');
    background-size: cover;
    background-position: center;
}

.printer-setup {
    width: 100%;
    display: block;
    height: 400px;
    background: url('./assignment_3/media/printer-final-location.png');
    background-size: cover;
    background-position: center;
    margin: 30px auto;
}

.test-pieces-collection {
    width: 100%;
    display: block;
    height: 400px;
    background: url('./assignment_3/media/collection-prints.png');
    background-size: cover;
    background-position: center;
    margin: 30px auto;
}

.photo-half.nested-apart {
    background: url('./assignment_3/media/nested-apart.png');
    background-size: cover;
    background-position: center;
}

.photo-half.nested-stacked {
    background: url('./assignment_3/media/nested-stacked.png');
    background-size: cover;
    background-position: center;
}

.photo-trio.holder {
    background: url('./assignment_3/media/book-holder.png');
    background-size: cover;
    background-position: center;
}

.photo-trio.miniature {
    background: url('./assignment_3/media/miniature.png');
    background-size: cover;
    background-position: center;
}

.photo-trio.doorstop {
    background: url('./assignment_3/media/doorstop.png');
    background-size: cover;
    background-position: center;
}